:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-columns: 175px 1fr;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    background: rgb(8, 43, 88);
}

#container-sb {
    display: grid;
    grid-template-rows: auto;
    row-gap: 15px;
}
.sidebar-btn {
    height: 50px;
    border: solid black;
}

main {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    background: coral;
}

#alpha75 {
    height: auto;
    display: grid;
    grid-template-rows: 60px 215px 90px 360px 1fr;
    row-gap: 15px;
}

#alpha75 div {
    border: solid black;
}

#play-boards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

#play-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}

.play-btn {
    background: limegreen;
}

.boards-container {
    display: grid;
    grid-template-rows: 90% 10%;
}

.chessboard {
    background: olive;
}

.boards-container label {
    text-align: center;
}
